<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" >
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
  <title>YELP</title>
      <style>
      .topnav-centered a {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/carousel/carousel.css" rel="stylesheet">
</head>
<script>
  function callback(){
    var basic = 10000;
    for(i = 1 ; i < 200; i++){
        basic = (basic * 1.01)-50;
        console.log('callback:'+basic);
    }
    
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<body onload="run('dVp1llwjZUmhCF4pNsJnQg')">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand">Yelp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose Restaurant <span class="caret"></span></a>
          <ul id="usuarios_dropdown" class="dropdown-menu">
            <li role="separator" class="divider"></li>

          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  

   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide col-sm-12" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <div id="selectedRestaurantImg"></div>
           <div class="container">
            <div class="carousel-caption">
              <div id="businessName1"></div>
         <!--     <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <div id="selectedRestaurantImg2"></div>
          <div class="container">
            <div class="carousel-caption">
              <div id="businessName2"></div>
           <!--   <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <div id="selectedRestaurantImg3"></div>
          <div class="container">
            <div class="carousel-caption">
              <div id="businessName3"></div>
            <!--  <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->






 
    <div id="displayAddress"></div>
    <div id="displayPhone"></div>
    <p>isClosed</p>
    <div id="isClosed"></div>
    <p>rating</p>
    <div id="rating"></div>
    <p>reviewCount</p>
    <div id="reviewCount"></div>
    <div id="longlat" ></div>
    <div class="row">
    <div id="showRecommendation"></div>
    </div>

<script id="functionRun">

function run(p1){

  window.restID =p1;

 // window.restID = restValue;
  if(window.restID.length ==0){
    window.restID = '4LhURdgGRofYSR_1LBTXvQ'
  }
  const url = '/yelp?address='+window.restID;
  fetch(url).then((resp) => resp.json()).then(function(data) {
    var blink1 = data.url1;
    var blink2 = data.url2;
    var blink3 = data.url3;
    var lat_1 = data.lat_1;
    var long_1 = data.long_1;
    var long_1_str = long_1.toString();
    var lat_1_str = lat_1.toString(); 
    document.getElementById('businessName1').innerHTML ='<h1>'+ data.bName+'</h1>';
    document.getElementById('businessName2').innerHTML ='<h1>'+ data.bName+'</h1>';
    document.getElementById('businessName3').innerHTML ='<h1>'+ data.bName+'</h1>';
    document.getElementById('selectedRestaurantImg').innerHTML = '<img id = "selectedRestaurantImg" class="first-slide" src="'+blink1+'" alt="First slide" width="100%"">';
    document.getElementById('selectedRestaurantImg2').innerHTML = '<img id = "selectedRestaurantImg2" class="second-slide" src="'+blink2+'" alt="First slide" width="100%"">';
    document.getElementById('selectedRestaurantImg3').innerHTML = '<img id = "selectedRestaurantImg3" class="third-slide" src="'+blink3+'" alt="First slide" width="100%"">';
    document.getElementById('longlat').innerHTML ='<iframe id ="longlat" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" src="/map/?long='+long_1_str+'&lat='+lat_1_str+'" marginwidth="0" marginheight="0" style="height:500px; width:100%;" scrolling="no"></iframe>';
    document.getElementById('displayAddress').innerHTML = data.displayAddress;
    document.getElementById('displayPhone').innerHTML = data.displayPhone;
    document.getElementById('isClosed').innerHTML = data.isClosed;
    document.getElementById('rating').innerHTML = data.rating;
    document.getElementById('reviewCount').innerHTML = data.reviewCount;
  })
  .catch(function(error) {
        console.log(JSON.stringify(error));
  });  
    var list = document.getElementById("showRecommendation");

  while (list.hasChildNodes()) {  
    list.removeChild(list.firstChild);
  }
  $.getJSON('arules.json', function(arulesData) {

      var dataArray=arulesData[0].LHS.split(",");
      for(i = 0; i<arulesData.length; i++){
          if(arulesData[i].business_id == window.restID){
            console.log(arulesData[i].name)
            var dataArray=arulesData[i].LHS.split(",");
            for(j = 0; j < dataArray.length; j++){
              console.log(dataArray[j])
              const arulesUrl = '/yelp?address='+dataArray[j];
              fetch(arulesUrl).then((resp) => resp.json()).then(function(data) {
          
                var btn = document.createElement("DIV");
                 btn.innerHTML = '<div class="col-sm-4"><div class="thumbnail"><img src="'+
                  data.url1+'" alt="..."><div class="caption"><p><a href="#" class="btn btn-primary" role="button" onclick="run('+"'"+data.id+"'"+')">'+
                    data.bName+'</a></p></div></div></div>';
                document.body.appendChild(btn);
                document.getElementById("showRecommendation").appendChild(btn);  
              })
              .catch(function(error) {
                    console.log(JSON.stringify(error));
              }); 
            }

          }
      }
  })
}
/*
  function createNode(element) {
      return document.createElement(element);
  }

  function append(parent, el) {
    return parent.appendChild(el);
  }
  */
    </script>
        <script>
          $(document).on('ready',function (){
          $.getJSON('arules.json', function(data) { 
          $.each(data, function(name, business_id) {
          //  <li onclick="callback()"><a>Action</a></li>
        //  $("#usuarios").append('<option value="' + business_id.business_id + '">' + business_id.name + '</option>');
          $("#usuarios_dropdown").append('<li onclick="run('+"'"+business_id.business_id+"'"+')"><a>' + business_id.name + '<a></li>');
          }); // close each()
        }); // close getJSON()
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</body>

</html>